body {
    font-family: 'Ubuntu', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position : absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation : fadeIn .5s linear;
}

header {
    display : flex;
    justify-content: flex-end;
    width : 100%;
}

.weather {
    margin : 20px;
    font-size : 30px;
}

section {
    width: 500px;
    height : 400px;
    position : absolute;
    top: 50%;
    left : 50%;
    margin : -200px 0px 0px -250px;
}
.container {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.container_clock {
    display : flex;
    flex-flow: column;
    align-items: center;
    margin-bottom : 10px;
}
.clock_title {
    font-size : 100px;
}
.rest_title {
    font-size : 30px;
}

.toDoList{
    display : flex;
    flex-flow : column;
    align-items: left;
}

.toDoList > h3 {
    font-size : 30px;
    margin-bottom: 10px;
}

.toDoList > ul {
    padding-left: 30px;
    list-style-type: "\1F44D";
    margin-bottom: 10px;
}

.toDoList > li {
    font-size : 20px;
}


